@model List<OnShelfGTDL.Models.MyShelf>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "My Shelf";
}

<div>
    <div class="container-pad">
    </div>

    <div class="container-page">
        <div class="container-borrowed mt-4">
            @foreach (var book in Model)
            {
                <div class="card borrowed-card mb-3 fs-7">
                    <div class="row g-0 mt-3 mb-3">
                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                            <img src="data:image/png;base64,@Convert.ToBase64String(book.BookImage)" class="img-fluid borrowed-image" alt="BorrowedImage">
                        </div>
                        <div class="borrowed-card-details col-md-10">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">@book.BookName</h5>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="card-text"><strong>Author:</strong> @book.AuthorsName</p>
                                        <p class="card-text"><strong>ISBN:</strong> @book.ISNB</p>
                                        <p class="card-text"><strong>Category:</strong> @book.Category</p>
                                        <p class="card-text"><strong>Bookshelf:</strong> @book.BookShelf</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center gap-3">
                                        <button class="btn btn-primary w-25">Borrow</button>
                                        <button class="btn btn-primary w-25">Reserve</button>
                                        <button class="btn btn-primary w-25">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
