@model List<OnShelfGTDL.Models.MyBooksReservationModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reserved Books";
}

<div>
    <div class="container-pad">
    </div>

    <div class="container-page mt-4">
        <div class="container-borrowed">
            <div class="row">
                <div class="col text-start mb-2">
                    <input type="text" id="searchBar" class="form-control d-inline-block searchBar" placeholder="Search">
                </div>
            </div>
            @foreach (var book in Model)
            {
                <div class="card borrowed-card mb-3 fs-7">
                    <div class="row g-0 mt-3 mb-3">
                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                            <img src="data:image/png;base64,@Convert.ToBase64String(book.BookImage)" class="img-fluid borrowed-image" alt="BorrowedImage">
                        </div>
                        <div class="borrowed-card-details col-md-10">
                            <div class="card-body">
                                <h5 class="card-title fw-bold p-1">@book.BookName</h5>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="card-text p-1"><strong>Author:</strong> @book.AuthorsName</p>
                                        <p class="card-text p-1"><strong>ISBN:</strong> @book.ISBN</p>
                                        <p class="card-text p-1"><strong>Category:</strong> @book.Category</p>
                                        <p class="card-text p-1"><strong>Bookshelf:</strong> @book.BookShelf</p>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center gap-3">
                                        <div>
                                            <button class="btn btn-primary gap-3 cancel-reservation-btn" id="btndeleteReserved" data-isbn="@book.ISBN">
                                                Cancel Reservation
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@Html.Partial("_CustomAlert")
@Html.Partial("_ConfirmModal")

<script src="~/js/jquery-3.3.6.0.min.js"></script>
<script src="~/js/reserved.js"></script>
